header {
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 30px;
  }

body {
  background-image: url(img/background-lighter-2.jpg);
  background-size: cover;
  margin: 0px;      /* deleting margin so that the background-color and padding fit maximum width of the site */
  font-family: monospace;
  }

h2 {
  text-align: center;
  font-family: "Arial";
  font-size: 45px;
  color: #f05822;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 2px 2px 3px black; /* made border around letters ands shadow aswell */
  }

h3 {
  max width: 30%;
  margin: 0px;  /* set margin to 0 to delete default margin on headings so I can position text by addin padding */
  padding: 15px 10px 15px 10px;
  }

h4 {
  text-align: center;
  font-size: 19px;
  padding: 10px;
  }

footer {
  text-align: center;
  padding-top: 10px;
  background-color: black;
  color: white;
  font-size: 15px;
  }

img {
  max-width: 100%; /* this styling is only for top image in header so it fills max-width of the site */
  }

video {
  max-width: 70%;
  border-radius: 15px;
  }

audio {
  max-width: 90%;
  padding-top: 5px;
  padding-bottom: 10px;
  }

ul {
  list-style: none; /* deleted bullet points because they look bad */
  padding-top: 10px;
  }

li {
  padding: 3px
}

section::after {      /* clearing floats in sections with images that are surrounded with text*/
  content: "";
  display: block;
  clear: both;
  }

a {
  color: white;
}

.style1 {  /* stylling for images */
  float: left;   /* made this so text can surround the images */
  max-width: 22%;
  padding-right: 20px;
  padding-bottom: 0px;
  }

.paragraph1 {
  color: white;
  background-color: black;
  padding: 130px 20px 130px 20px;
  font-family: "Courier New", monospace;
  line-height: 1.4;
  }

.cast {
  color: white;
  background-color: black;
  padding: 30px 20px 90px 20px;
  font-family: "Courier New", monospace;
  line-height: 1.4;
  }

.logo {
  max-width: 20%;
  padding-bottom: 20px;
  padding-top: 20px;
  }

.menu {
    color: black;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-family: monospace;
    text-decoration: none;  /* deleted undeeline cause it looks bad */
    }

.fullwidth {
  width: 100%;
  }

.video {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 50px;
  }

.audio {
  background-color: #ae420c;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 50px;
  }
